@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto Slab', serif;
}

header {
    background: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 65px;
    padding: 0 30px 0px 30px;
    position: fixed;
    top: 0;
    box-shadow: #202e36 0px 8px 24px;
}

.logo {
    height: 100px;
}

.navbar,
.navbar-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navbar-list li a {
    color: #202e36;
    font-weight: 600;
    cursor: pointer;
}

/*main*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*login*/

#login {
    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #202e36;
    padding: 30px;
    border-radius: 12px;
}

.login-container-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.login-container-info h3{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.login-container-info p{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.login-container-info a{
    font-size: 20px;
    font-weight: 600;
    color: #b22222;
}

.login-container-info input{
    background: #fff;
    padding: 8px 50px;
    border-color: #b22222;
    border-width: 8px;
    border-radius: 12px;
}

.login-container-info button{
    background: #b22222;
    padding: 4px 6px;
    color: #fff;
    border-color: #fff;
    border-width: 4px;
    border-radius: 12px;
}


