@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto Slab', serif;
}

header {
    background: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 65px;
    padding: 0 30px 0px 30px;
    position: fixed;
    top: 0;
    box-shadow: #202e36 0px 8px 24px;
}

.logo {
    height: 100px;
}

.navbar,
.navbar-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navbar-list li a {
    color: #202e36;
    font-weight: 600;
    cursor: pointer;
}

/*main*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*hero*/

#hero {
    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%
}

.hero-info h1 {
    font-size: 48px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
    color: rgb(32, 46, 54);
}

.hero-info p {
    font-weight: 800;
    color: #202e36;
}

.hero-btn a {
    color: #fff;
    background-color: #b22222;
    width: 120px;
    padding: 10px 5px;
    border-radius: 10px;
    font-size: 14px;
    align-items: center;
}

.hero-img img {
    width: 400px;
}

/*benefits*/

#benefits {
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}

.benefits-info h2 {
    font-weight: 700;
    font-size: 35px;
    background: #202e36;
    border-radius: 16px;
    padding: 12px 8px;
    color: #fff;
}

.benefits-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.benefits-container-info {
    width: 300px;
    height: 300px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
    background: #202e36;
    border-radius: 12px;
    color: #fff;
}

.benefits-container-info h3 {
    font-weight: 900;
    font-size: 24px;
    ;
}

.benefits-container-info p {
    font-weight: 400;
    font-size: 15px;
}

.benefits-container-info img{
    width: 60px;
}

/*products*/

#products {
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

.products-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 4px;
}

.products-info h2{
    background: #b22222;
    border-radius: 12px;
    padding: 6px 4px;
    color: #fff;
} 

.products-info p{
    background: #b22222;
    border-radius: 10px;
    padding: 4px 4px;
    color: #fff;
}

.products-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.products-container-info img{
    width: 150px;
    display: flex;
    align-items: center;
    border-radius: 15px;
}

.products-container-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    background: #b22222;
    border-radius: 15px;
    padding: 20px 20px;
}

.products-container-info h3{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.products-container-info p{
    color: #fff;
    font-size: 14px;
    font-weight: 600;    
}

.products-container-info span{
    color: #fff;
    font-size: 16px;
    font-weight: 900;
}

.products-container-info button{
    background: #202e36;
    padding: 4px;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    border-color: #fff;
    cursor: pointer;
}

/*contacto*/

#contact{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 70px 0;
    max-width: 1200px;
    gap: 10px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.form-container{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: #b22222;
    width: 100%;
    border-radius: 20px;
}

.contact-info h2{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: #202e36;
    border-radius: 12px;
    padding: 4px 4px;
}

.contact-info p{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    background: #202e36;
    border-radius: 12px;
    padding: 4px 4px;
}

.form-container label{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background: #202e36;
    border-radius: 12px;
    padding: 4px 6px;
}

.form-container input{
    border-radius: 4px;
    padding: 2px 4px;
    border-color: #202e36;
}

.form-container textarea{
    border-radius: 4px;
    padding: 2px 4px;
    border-color: #202e36;
}

.form-container #submit{
    background: #202e36;
    border-radius: 12px;
    border-color: #fff;
    color: #fff;
    padding: 2px 4px;
}

/*footer*/

footer{
    background-color: #202e36;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
    padding: 30px 0;
}

footer a,
footer p{
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

.footer-links{
    display: flex;
    justify-content: center;
    gap: 15px;
}